# Данные и база (игнорируем, чтобы не светить реальные цифры)
raw_materials.db
пример таблицы.xlsx

Acts/

# А вот шаблон лучше оставить закомментированным (т.е. НЕ игнорировать), 
# чтобы он был в репозитории:
шаблон.docx 

# Python
__pycache__/
*.pyc
*.pyo
*.spec
build/
dist/
*.egg-info/
venv/
.env

# IDE и настройки
.vscode/
.idea/
settings.json

# OS
Thumbs.db
desktop.ini